.collapsible {
  border: 3px solid red;
}

.toggleBtn {
  background: #5ca7ca;
  border: unset;
  cursor: pointer;
  font: unset;
  padding: 0.2rem;
  border-radius: 5px;
  color: #ffffff;
  transition: ease 0.4s;
}

.toggleBtn:hover {
  background: #ffffff;
  color: #5ca7ca;
  transition: ease 0.4s;
}

.content {
  /* padding: 0.5rem; */
  /* border-radius: 5px; */
  /* margin-bottom: 1rem; */
}

.contentParent {
  /* overflow: hidden; */
  transition: ease 0.4s;
  border: 1px solid red;
}
