@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");

body {
  background: #e6e6e6;
  color: #333;
  font-family: "Baloo 2";
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

nav {
  margin: 10px auto 8px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  color: linear-gradient(270deg, #1c6fb3 0%, #1e295c 100%);
  color: linear-gradient(270deg, #1b65b9 0%, #1e295c 100%);
  color: linear-gradient(270deg, #4f87b6 0%, #313750 100%);
  color: linear-gradient(270deg, #466f9e 0%, #313750 100%);
  border-top: 1px solid #eaeaea;
}
